<h1><%= @user.full_name %></h1>

<h2>Routes</h2>
<ul id="routes-list" data-user-id="<%= @user.id %>"></ul>
<%= link_to "New route", new_route_path %>

<h2>Addresses</h2>
<%= render partial: 'addresses/list', locals: {addresses: @user.addresses} %>
<%= link_to "New address", new_address_path %>

<br><br><br>

<%= link_to "Edit user", edit_user_path %>
<%= link_to "Delete user", user_path, method: :delete %>
<br><br>
<%= link_to "Sign out", logout_path, method: :delete %>
