<h1><%= @user.full_name %></h1>

<h2>Routes</h2>
<ul>
  <% @user.routes.each do |route| %>
    <li>
      <%= link_to route.name, route_path(route) %>
      <ul>
        <li>Origin: <%= route.origin.to_s %></li>
        <li>Destination: <%= route.destination.to_s %></li>
      </ul>
    </li>
  <% end %>
</ul>

<%= link_to "Edit user", edit_user_path %>
<%= link_to "Delete user", user_path, method: :delete %>
<br><br>
<%= link_to "Sign out", logout_path, method: :delete %>
