<%= form_for @address do |f| %>
  <% if @address.errors.any? %>
    <h2>
      <%= pluralize(@address.errors.count, "error") %> prohibited this address from being saved:
    </h2>

    <ul>
    <% @address.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  <% end %>

  <% if @address.user.nil? %>
    <%= f.label :user_id, "User" %>
    <%= f.select :user_id, options_from_collection_for_select(User.all, :id, :full_name) %><br>
  <% else %>
    <%= f.hidden_field :user_id %>
  <% end %>

  <%= f.label :line_1, "Address, line 1" %>
  <%= f.text_field :line_1 %><br>

  <%= f.label :line_2, "Address, line 2" %>
  <%= f.text_field :line_2 %><br>

  <%= f.label :city %>
  <%= f.text_field :city %><br>

  <%= f.label :state %>
  <%= f.text_field :state %><br>

  <%= f.label :zip %>
  <%= f.text_field :zip %><br>
  <br>

  <%= f.submit %>
<% end %>
