<h1>All
  <% if @user %>
    <%= @user.full_name %>'s
  <% end %>
  Addresses
</h1>

<div>
  <h3>Filter addresses:</h3>
  <%= form_tag("/addresses", method: "get") do %>
    <%= select_tag :borough, options_for_select(Address::BOROUGHS, @borough), include_blank: true %>
    <%= submit_tag "Filter" %>
  <% end %>
</div>

<ul id="address-list"></ul>

<div id="new-address-form">
  <%= render 'form' %>
</div>
