<h1>All
  <% if @user %>
    <%= @user.full_name %>'s
  <% end %>
  Addresses
</h1>

<div>
  <h3>Filter addresses:</h3>
  <%= form_tag("/addresses", method: "get") do %>
    <%= select_tag :borough, options_for_select(Address::BOROUGHS, @borough), include_blank: true %>
    <%= submit_tag "Filter" %>
  <% end %>
</div>

<%= render partial: 'addresses/list', locals: {addresses: @addresses} %>

<br>

<%= link_to "Add New Address", new_address_path %>
