<h1><%= @address.line_1 %></h1>

<p>
  <%= @address.line_1 %><br>
  <% if @address.line_2 != "" %>
    <%= @address.line_2 %><br>
  <% end %>
  <%= @address.city %>, <%= @address.state %> <%= @address.zip %>
</p>

<h2>Routes</h2>
<ul>
  <% @address.routes.each do |route| %>
    <li>
      <%= link_to "#{route.name}, owned by #{route.user.full_name}", route_path(route) %>
      <b>
        <% if route.origin == @address %>
          Origin
        <% end %>
        <% if route.destination == @address %>
          Destination
        <% end %>
      </b>
    </li>
  <% end %>
</ul>

<h2>Users</h2>
<ul>
  <% @address.users.uniq.each do |user| %>
    <li><%= link_to user.full_name, user_path(user) %></li>
  <% end %>
</ul>


<%= link_to "Edit address", edit_address_path %>
<%= link_to "Delete address", address_path, method: :delete %>
