<h1><%= @address.line_1 %></h1>

<p>
  <%= render partial: 'addresses/block', locals: {address: @address} %>
</p>

<h2>Routes</h2>
<ul>
  <% @address.routes.each do |route| %>
    <li>
      <%= link_to route.name, route_path(route) %>,
      owned by
      <%= link_to route.user.full_name, user_path(route.user) %>
      <b>
        <% if route.has_origin?(@address) %>
          Origin
        <% end %>
        <% if route.has_destination?(@address) %>
          Destination
        <% end %>
      </b>
    </li>
  <% end %>
</ul>

<h2>Users</h2>
<ul>
  <% @address.users.uniq.each do |user| %>
    <li><%= link_to user.full_name, user_path(user) %></li>
  <% end %>
</ul>

<br>

<%= link_to "Edit address", edit_address_path %>
<%= link_to "Delete address", address_path, method: :delete %>
