<%= form_for @route do |f| %>
  <%= render partial: 'shared/error_messages', locals: {object: @route} %>

  <% if @route.user.nil? %>
    <%= f.label :user_id, "User" %>
    <%= f.select :user_id, options_from_collection_for_select(User.all, :id, :full_name) %><br>
  <% else %>
    <%= f.hidden_field :user_id %>
  <% end %>

  <br>

  <%= f.label :name, "Route name" %>
  <%= f.text_field :name %>

  <h2>Origin</h2>
  <%= f.label :origin_id, "Select previous address" %><br>
  <%= f.select :origin_id, options_from_collection_for_select(Address.all, :id, :to_s) %><br>
  <br>

  <%= f.label :origin, "Or, create a new address for the origin" %><br>
  <%= f.fields_for :origin, @route.origin || @route.build_origin do |origin_fields| %>
    <%= origin_fields.label :line_1 %>
    <%= origin_fields.text_field :line_1 %><br>

    <%= origin_fields.label :line_2 %>
    <%= origin_fields.text_field :line_2 %><br>

    <%= origin_fields.label :city %>
    <%= origin_fields.text_field :city %><br>

    <%= origin_fields.label :borough %>
    <%= origin_fields.select :borough, Address::BOROUGHS %><br>

    <%= origin_fields.label :zip %>
    <%= origin_fields.text_field :zip %>
  <% end %>

  <h2>Destination</h2>
  <%= f.label :destination_id, "Select previous address" %><br>
  <%= f.select :destination_id, options_from_collection_for_select(Address.all, :id, :to_s) %><br>
  <br>

  <%= f.label :destination, "Or, create a new address for the destination" %><br>
  <%= f.fields_for :destination, @route.destination || @route.build_destination do |destination_fields| %>
    <%= destination_fields.label :line_1 %>
    <%= destination_fields.text_field :line_1 %><br>

    <%= destination_fields.label :line_2 %>
    <%= destination_fields.text_field :line_2 %><br>

    <%= destination_fields.label :city %>
    <%= destination_fields.text_field :city %><br>

    <%= destination_fields.label :borough %>
    <%= destination_fields.select :borough, Address::BOROUGHS %><br>

    <%= destination_fields.label :zip %>
    <%= destination_fields.text_field :zip %><br>
  <% end %>

  <br>

  <%= f.submit %>
<% end %>
