<h1>Routes for <%= @user.full_name %></h1>

<ul>
  <% @routes.each do |route| %>
    <li>
      <%= link_to route.name, route_path(route) %>
      <ul>
        <li>Origin: <%= route.origin.to_s %></li>
        <li>Destination: <%= route.destination %></li>
      </ul>
    </li>
  <% end %>
</ul>

<%= link_to "New route", new_route_path %>
