<h1>
  <%= link_to @route.user.full_name, user_path(@route.user) %>'s Route: <%= @route.name %>
</h1>


<h3>Origin</h3>
<p>
  <%= render partial: 'addresses/block', locals: {address: @route.origin} %>
  <br><br>
  <%= link_to "Show address", address_path(@route.origin) %> |
  <%= link_to "Edit address", edit_address_path(@route.origin) %>
</p>

<h3>Destination</h3>
<p>
  <%= render partial: 'addresses/block', locals: {address: @route.destination} %>
  <br><br>
  <%= link_to "Show address", address_path(@route.destination) %> |
  <%= link_to "Edit address", edit_address_path(@route.destination) %>
</p>

<h2>Directions</h2>
<ul>
  <% @route.get_directions[0][:legs][0][:steps].each do |step| %>
    <li>
      <%= raw step[:html_instructions] %>
      (<%= raw step[:duration][:text] %>;

      <% if step[:transit_details].present? %>
        <%= raw step[:transit_details][:num_stops] %> stops)
        <ul>
          <li>
            <%= image_tag step[:transit_details][:line][:icon] %> to
            <%= raw step[:transit_details][:arrival_stop][:name] %>
          </li>
        </ul>
      <% else %>
        <%= raw step[:distance][:text] %>)
      <% end %>

      <% if step[:steps].present? %>
        <ul>
          <% step[:steps].each do |step| %>
            <li><%= raw step[:html_instructions] %></li>
          <% end %>
        </ul>
      <% end %>

    </li>
  <% end %>
</ul>

<%= link_to "Edit route", edit_user_route_path(@route.user) %>
<%= link_to "Delete route", route_path, method: :delete %>
